logs
*.log
npm-debug.log*

pids
*.pid
*.seed

lib-cov

coverage
.nyc_output
coverage.*

node_modules

.npm

.node_repl_history

typings/
lib

*.map

.idea
*.iml

.DS_Store
Thumbs.db

src/integrations/

